.navbar{
	background: #337ab7;
    padding: 5px;
   font-weight: bold;
}
.header h4{
	
    padding: 5px;
    font-weight: bold;

}
.sendSMS ,.users,.deliveryReport{
	background-color:#fff;
}
.users {
	display: none;
}
 .deliveryReport{
 	display: none;
 }
 #ajax-loader {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .5;
}